<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-md-3 mt-3">
        <span class="h5">Attribution</span>
        <p>
          Images used for this project are taken from
          <a href="https://unsplash.com">Unsplash.</a> No copyright infregement
          intented, for copyright issues please contact author at
          splucena2011@gmail.com
        </p>
      </div>
      <div class="col col-md-3 mt-3">
        <span class="h5">Technologies Used</span>
        <ul>
          <li>Angular</li>
          <li>MongoDB</li>
          <li>Express</li>
          <li>Node</li>
          <li>Angular Material</li>
          <li>FontAwesome</li>
          <li>Bootstrap</li>
        </ul>
      </div>
      <div class="col col-md-3 mt-3">
        <span class="h5">Enhancements</span>
        <ul>
          <li>Login</li>
          <li>Validation</li>
          <li>Animation</li>
          <li>Design</li>
        </ul>
      </div>
      <div class="col col-md-3 mt-3">
        <span class="h5">WDD 430</span>
        <p>
          Special thanks to Brother Asher Harris and classmates for the
          productive course. Learning would have been difficult without your
          assistance and feedback. This was a productive course this semester. I
          hope to continue learning MEAN for future opportunities.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mb-3">
        <span><i class="fa fa-copyright"></i> Sumilang R. Plucena - 2021</span>
      </div>
    </div>
  </div>
</div>
