<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="row m-2">
      <div class="col-md-12">
        <h2 class="pull-left" style="margin-top: 0; margin-bottom: 0;">{{ contact?.name }}</h2>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2" *ngIf="contact.imageUrl !== ' '; else empty">
        <img src="{{ contact.imageUrl }}" style="width: 50px; height:70px" alt="{{ contact.name }}">
      </div>
      <ng-template #empty>
        <div class="col-md-2">No image available.</div>
      </ng-template>
      <div class="col-md-10">
        <button class="btn btn-danger pull-right ml4">Delete</button>
        <button class="btn btn-primary pull-right">Edit</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p class="font-weight-bold">Email: {{ contact?.name }}</p>
    <p class="font-weight-bold">Phone: {{ contact?.phone }}</p>
  </div>
</div>
