<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Last name, First name"
          formControlName="firstCtrl"
          required
          #name
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
          #address
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Complete Checkout">
    <p class="h3">Summary of Charges</p>
    <div class="row">
      <div class="col col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of cart; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ c.productName }}</td>
              <td class="text-center">{{ c.quantity }}</td>
              <td class="text-end">${{ c.price }}</td>
              <td class="text-end">${{ c.quantity * c.price }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Total</td>
              <td class="text-end">${{ total || 0.0 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button
        mat-raised-button
        color="primary"
        matStepperNext
        (click)="completeCheckout()"
      >
        Complete Checkout
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="row">
      <div class="col col-md-6">
        <p class="h3 text-center">Thank you for shopping with us!</p>
        <p class="h3 text-center">Official Receipt</p>
        <div>
          <span> Charged To: {{ name.value }}</span
          ><br />
          <span> Address: {{ address.value }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of cart; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ c.productName }}</td>
              <td class="text-center">{{ c.quantity }}</td>
              <td class="text-end">${{ c.price }}</td>
              <td class="text-end">${{ c.quantity * c.price }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Total</td>
              <td class="text-end">${{ total || 0.0 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p>Checkout complete!</p>
    <p>We hope to see you again!</p>
    <div>
      <button mat-raised-button color="primary" (click)="shopAgain()">
        Shop Again?
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
