<div class="row">
  <div class="col-md-5">
    <!--Add tag to load the DocumentListComponent here-->
    <cms-document-list (selectedDocumentEvent)="selectedDocument = $event"></cms-document-list>
  </div>

  <div class="col-md-4">
    <!--Add tag to load the DocumentDetailComponent here-->
    <!-- <cms-document-detail *ngIf="selectedDocument; else infoText" [document]="selectedDocument">
    </cms-document-detail>
    <ng-template #infoText>
      <div class="panel panel-default">
        <div class="panel-body clearfix">
          <h4>Please select a document.</h4>
        </div>
      </div>
    </ng-template> -->
    <router-outlet></router-outlet>
  </div>
</div>
