<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading">
    <div class="row pad-all">
      <h4 class="title margin-left-right">{{ document?. name }}</h4>
      <div class="row pull-right margin-left-right">
        <a class="btn btn-primary mr1" (click)="onView()">View</a>
        <a class="btn btn-info mr1" [routerLink]="['edit']">Edit</a>
        <!-- <a class="btn btn-info mr1" (click)="onEditDocument()">Edit</a> -->
        <a class="btn btn-danger" (click)="onDelete()">Delete</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="pad-left-right">
      <div class="row">
        <label>Description:</label>
        <span class="label-value">
          {{ document?.description }}
          <!-- display document description here --></span>
      </div>
      <br>
      <div class="row">
        <label>URL:</label>
        <span class="label-value">
          {{ document?.url }}
          <!-- display document URL here --></span>
      </div>
    </div>
  </div>
</div>
