<div class="row">
  <div class="col col-md-6">
    <span class="h3">Your Cart!</span>
  </div>
</div>
<div class="row">
  <div class="col col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cart; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ c.productName }}</td>
          <!-- <td class="text-center">{{ c.quantity }}</td> -->
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Quantity</mat-label>
              <input
                type="number"
                name="quantity"
                matInput
                placeholder="0"
                [ngModel]="c?.quantity"
                #quantity
                required
                min="0"
                max="100"
                (change)="quantityChanged(c.productName, quantity.value)"
              />
            </mat-form-field>
          </td>
          <!-- <td class="text-end" #price>${{ c.price }}</td> -->
          <td>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Price</mat-label>
              <input
                type="number"
                name="price"
                matInput
                placeholder="100.00"
                [ngModel]="c?.price"
                #price
                required
                readonly
              />
            </mat-form-field>
          </td>
          <td class="text-end">
            ${{ quantity.value * price.value | number: "1.2-2" }}
          </td>
          <td>
            <button
              mat-raised-button
              color="accent"
              appearance="fill"
              class="pull-right"
              (click)="removeToCart(c.productName)"
            >
              Remove
            </button>
          </td>
        </tr>
        <tr class="text-light bg-dark">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Total</td>
          <td class="text-end">${{ total | number: "1.2-2" }}</td>
        </tr>
        <tr>
          <td colspan="6" class="border-0">
            <button
              mat-raised-button
              color="primary"
              appearnce="fill"
              class="pull-right"
              (click)="checkout()"
            >
              Proceed to Checout
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
