<div style="height: 70px"></div>
<div class="product-form">
  <span class="h3">{{ editMode ? "Edit" : "Add" }} Product</span>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="mt-3">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input
        type="text"
        name="name"
        matInput
        placeholder="Nike"
        [ngModel]="product?.name"
        #productName
        required
      />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        name="description"
        cols="30"
        rows="5"
        placeholder="Basketball shoe for everyone."
        [ngModel]="product?.description"
        required
      ></textarea>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Image Path</mat-label>
      <input
        type="text"
        name="imageUrl"
        matInput
        placeholder="../assets/images/shoes-1.jpg"
        [ngModel]="product?.imageUrl"
        #imageUrl
      />
    </mat-form-field>
    <div *ngIf="product?.imageUrl || imageUrl.value">
      <img [src]="imageUrl.value" alt="productName.value" />
    </div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Price</mat-label>
      <input
        type="number"
        name="price"
        matInput
        placeholder="0"
        [ngModel]="product?.price"
      />
    </mat-form-field>
    <button
      [disabled]="!f.valid"
      color="accent"
      mat-raised-button
      type="submit"
    >
      SAVE
    </button>
    <button
      color="accent"
      class="ms-2"
      mat-raised-button
      type="button"
      (click)="onCancel()"
    >
      CANCEL
    </button>
  </form>
</div>
